/* Font face declaration for custom font */
@font-face {
	font-family: cocaColaFont;
	src: url(../fonts/lokicola.ttf);
}

/* Global styles for the body */
body {
	padding-bottom: 5px;
	background-color: #F5A462; /* Background color for the body */
}

/* Styles for the main content section */
.main_contents {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Default font for paragraphs */
p {
	font-family: 'Open Sans', sans-serif;
}

/* Default font for headings h1 to h6 */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

/* Styling for the main 3D image section */
#main_3d_image {
	background-image: url(../assets/images/main_3D.jpg);
	background-repeat: no-repeat;
	height: 201px;
	margin-bottom: 10px;
}

/* Styling for the main text section */
#main_text {
	float: left;
	margin: 5%;
	width: 90%;
	display: block;
	background-color: rgba(255,255,255,0.6);
	padding: 10px;
	border-radius: 5px;
}

/* Styles for h2 elements within the main text section */
#main_text h2 {
	color: #006699;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 5px;
}

/* Styles for h3 elements within the main text section */
#main_text h3 {
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Styles for paragraphs within the main text section */
#main_text p {
	font-size: 12px;
	margin: 0px;
	line-height: 1.2;
} 

/* Styles for headings in the drinksText section */
.drinksText > h2 {
	color: #000000;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 5px;
}

/* Styles for h3 elements in the drinksText section */
.drinksText > h3 {
	color: #000000;
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 5px;
}

/* Styles for paragraphs in the drinksText section */
.drinksText > p {
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.4;
}

/* Styles for card elements */
.card {
	border: 1px solid rgba(0,0,0,.125);
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #F5A462;
}

/* Styles for the logo section */
.logo {
	margin-top: 3px;
}

/* Styles for h1 elements in the logo section */
.logo h1 {
	font-family: cocaColaFont;
	font-size: 29px;
	margin: 0;
	margin-top: -10px;
	margin-bottom: -15px;
	float: left;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 2px;
}

/* Styles for h2 elements in the logo section */
.logo h2 {
	font-family: cocaColaFont;
	font-size: 31px;
	margin-top: -6px;
	margin-bottom: -15px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 3px;
	float: left;
}

/* Styles for h3 elements in the logo section */
.logo h3 {
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: -5px;
	padding-top: 0px;
	padding-left: 0px;
	float: left;
}

/* Styles for paragraphs in the logo section */
.logo p {
	font-size: 7px;
	margin-top: 23px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 3px;
}

/* Styles for the navbar section */
.navbar_coca_cola {
	background-color: #760003;
	border-width: 0px;
	min-height: 70px;
}

/* Styles for the navbar brand */
.navbar_coca_cola .navbar-brand {
	color: #F5EBEB;
}

/* Styles for the navbar brand on hover */
.navbar_coca_cola .navbar-brand:hover {
	color: green;
}

/* Styles for the navbar links */
.navbar_coca_cola .navbar-nav > li > a {
	color: white;
    text-decoration: none;
}

/* Styles for the navbar links on hover and focus */
.navbar_coca_cola .navbar-nav > li > a:hover, 
.navbar_coca_cola .navbar-nav > li > a:focus {
	color: green;
    text-decoration: none;
}

/* Styles for active navbar items */
.navbar_coca_cola .navbar-nav .nav-item {
	margin-top: 0px;
}

/* Styles for active navbar items on hover and focus */
.navbar_coca_cola .navbar-nav .nav-item > .active, 
.navbar_coca_cola .navbar-nav > .active > a:hover, 
.navbar_coca_cola .navbar-nav > .active > a:focus {
	color: #760003;
	background-color: #3399ff;
}

/* Styles for the dropdown menu */
.dropdown-menu {
	text-align: -webkit-left;
	background-color: #eb9a91;
	margin-top: 20px;
}

/* Styles for dropdown menu items */
.dropdown-menu .dropdown-item {
	color: #f1ee08;
}

/* Styles for dropdown menu items on hover */
.dropdown-menu .dropdown-item:hover {
	color: #030303;
	background-color: #e98074;
}

/* Styles for the footer section */
.footer {
	color: #FFF;
	background-color: #760003;
	height: 70px;
}

/* Styles for links in the footer section */
.navbar-text > a {
	color: #FFFFFF;
	font-size: 8px;
	text-decoration: none;
}

/* Styles for paragraphs in the footer section */
.navbar-text > p {
	color: #40E40F;
	font-size: 12px;
	text-decoration: none;
}

/* Styles for image thumbnails */
.img-thumbnail {
	padding: 0.25rem;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #FFF;
	border: 1px solid #dee2e6;
	border-radius: 0.25rem;
	max-width: 100%;
	height: auto;
}

/* Styles for image thumbnails in the gallery */
.gallery .img-thumbnail {
	background-color: rgba(255, 255, 255, 0.0);
	padding: 0.25rem;
	margin: 5px;
	border: 1px solid #dee2e6;
	border-radius: 0.25rem;
	max-width: 43%;
	height: auto;
}

/* Styles for active and show tabs in the navbar */
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: #760003;
	background-color: #3399ff;
	border-color: #dee2e6 #dee2e6 #fff;
}

/* Styles for nav links in the navbar */
.nav-tabs .nav-link {
	color: white;
	border: 1px solid transparent;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

/* Styles for nav links in the navbar on hover */
.nav-tabs .nav-link:hover {
	color: green;
	border: 1px solid transparent;
}

/* Styles for camera buttons */
.camera-btns {
	border-color: black; 
	border-style: solid;
	border-width: 0px;
	margin-top: 0px;
	padding: 0px;
}

/* Styles for text in camera buttons */
.camera-btns > p  {
	font-size: 15px;
	color: red;
	padding: 5px 0px;
	font-weight: 900; 
}

/* Styles for camera font */
.camera-font {
	font-weight: 400;   
	color: white;
}

/* Styles for camera font on hover */
.camera-font:hover {
	font-weight: 700;   
	color: #030303;
}

/* Styles for responsive buttons */
.btn-responsive {
	margin-right: 2px;
	margin-bottom: 4px;
	padding: 5px 5px;
	font-size: 80%;
	line-height: 1.2;
	white-space: normal !important;
}

/* Styles for the gallery header */
.gallery-header {
	color: white;
}

/* Styles for the gallery header on hover */
.gallery-header:hover {
	color: green;
	border: 1px solid transparent;
}

/* Styles for the model3D section */
.model3D  {
	background-color: rgba(255, 255, 255, 0.0);
	border-radius: 5px;
	border: 0px solid rgba(0, 0, 0, 1.0);
	padding: 2px;
	height: 200px;
}

/* Styles for X3D and x3d elements */
X3D, x3d {
	border-radius: 5px;
	border: 0px solid rgba(255, 0, 0, 1.0);
	width: 100%;
	height: 100%;
}

/* Media query for screens with min-width 576px */
@media (min-width: 576px) {
	/* Styles for larger screens */
	body {
		background-color: #CAB5B5;
	}

	#main_3d_image {
		background-image: url(../assets/images/main_3D_768.jpg);
		height: 288px;
	}

	/* Adjusting styles for the main text section on larger screens */
	#main_text {
		float: right;
		margin-top: 7%;
	}

	/* Styles for headings in the drinksText section on larger screens */
	.drinksText > h2 {
		color: #000;
		font-size: 25px;
		margin-top: 0px;
		margin-bottom: 5px;
	}

	/* Styles for h3 elements in the drinksText section on larger screens */
	.drinksText > h3 {
		color: #000;
		font-size: 18px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	/* Styles for paragraphs in the drinksText section on larger screens */
	.drinksText > p {
		font-size: 14px;
		margin-top: 10px;
		margin-bottom: 10px;
		line-height: 1.4;
	}

	/* Styles for cards on larger screens */
	.card {
		background-color: #CAB5B5;
	}

	/* Adjusting styles for the navbar on larger screens */
	.navbar_coca_cola {
		background-color: grey; 
		min-height: 90px;
	}

	/* Styles for the footer on larger screens */
	.footer {
		background-color: #257600;
		height: 60px;
	}

	/* Styles for links in the navbar text on larger screens */
	.navbar-text > a {
		font-size: 10px;
	}

	/* Styles for paragraphs in the navbar text on larger screens */
	.navbar-text > p {
		color: #E44B0F;
		font-size: 18px;
	}

	/* Adjusting the height of model3D on larger screens */
	.model3D  {
		height: 200px;
	}
}

/* Media query for screens with min-width 768px */
@media (min-width: 768px) {
	/* Styles for larger screens */
	body {
		background-color: #DAD896;
	}

	#main_3d_image {
		background-image: url(../assets/images/main_3D_970.jpg);
		height: 363px;
	}

	/* Styles for headings in the drinksText section on larger screens */
	.drinksText > h2 {
		color: #000;
		font-size: 27px;
		margin-top: 0px;
		margin-bottom: 5px;
	}

	/* Styles for h3 elements in the drinksText section on larger screens */
	.drinksText > h3 {
		color: #000;
		font-size: 20px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	/* Styles for paragraphs in the drinksText section on larger screens */
	.drinksText > p {
		font-size: 15px;
		margin-top: 10px;
		margin-bottom: 10px;
		line-height: 1.4;
	}

	/* Styles for cards on larger screens */
	.card {
		background-color: #DAD896;
	}

	/* Adjusting styles for the main text section on larger screens */
	#main_text {
		float: right;
		margin-top: 7%;
	}

	/* Styles for h2 elements in the main text section on larger screens */
	#main_text h2 {
		color: #DC143C;
		font-size: 30px;
	}

	/* Styles for h3 elements in the main text section on larger screens */
	#main_text h3 {
		color: #008B8B;
		font-size: 22px;
	}

	/* Styles for paragraphs in the main text section on larger screens */
	#main_text p {
		font-size: 15px;
	}

	/* Adjusting styles for the logo on larger screens */
	.logo {
		margin-top: 3px;
	}

	/* Styles for h1 elements in the logo section on larger screens */
	.logo h1 {
		font-size: 41px;
		margin-top: 0px;
		margin-bottom: -15px;
		float: left;
		padding-top: 0px;
		padding-left: 0px;
		padding-right: 2px;
	}

	/* Styles for h2 elements in the logo section on larger screens */
	.logo h2 {
		font-size: 43px;
		margin-top: 5px;
		margin-bottom: -15px;
		padding-top: 0px;
		padding-left: 0px;
		padding-right: 3px;
		float: left;
	}

	/* Styles for h3 elements in the logo section on larger screens */
	.logo h3 {
		font-size: 31px;
		margin-top: 5px;
		margin-bottom: 3px;
		padding-top: 0px;
		padding-left: 0px;
		float: left;
	}

	/* Styles for paragraphs in the logo section on larger screens */
	.logo p {
		font-size: 10px;
		margin-top: 45px;
		margin-bottom: 0px;
		padding-top: 0px;
		padding-left: 8px;
	}

	/* Adjusting styles for the navbar on larger screens */
	.navbar_coca_cola {
		background-color: grey; 
		min-height: 90px;
	}

	/* Styles for the footer on larger screens */
	.footer {
		background-color: #B890B1;
		height: 60px;
	}

	/* Styles for links in the navbar text on larger screens */
	.navbar-text > a {
		font-size: 10px;
	}

	/* Styles for paragraphs in the navbar text on larger screens */
	.navbar-text > p {
		color: #0C0503;
		font-size: 18px;
	}

	/* Adjusting the height of model3D on larger screens */
	.model3D  {
		height: 200px;
	}
}

/* Media query for screens with min-width 992px */
@media (min-width: 992px) {
	/* Styles for larger screens */
	body {
		background-color: #B9B9B2;
	}

	#main_3d_image {
		background-image: url(../assets/images/main_3D_1400.jpg);
		height: 100%;
	}

	/* Styles for headings in the drinksText section on larger screens */
	.drinksText > h2 {
		color: #000;
		font-size: 27px;
		margin-top: 0px;
		margin-bottom: 5px;
	}

	/* Styles for h3 elements in the drinksText section on larger screens */
	.drinksText > h3 {
		color: #000;
		font-size: 20px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	/* Styles for paragraphs in the drinksText section on larger screens */
	.drinksText > p {
		font-size: 15px;
		margin-top: 10px;
		margin-bottom: 10px;
		line-height: 1.4;
	}

	/* Styles for cards on larger screens */
	.card {
		background-color: #B9B9B2;
	}

	/* Adjusting styles for the main text section on larger screens */
	#main_text {
		float: right;
		margin-top: 20%;
	}

	/* Styles for h2 elements in the main text section on larger screens */
	#main_text h2 {
		color: #DC143C;
		font-size: 30px;
	}

	/* Styles for h3 elements in the main text section on larger screens */
	#main_text h3 {
		color: #008B8B;
		font-size: 22px;
	}

	/* Styles for paragraphs in the main text section on larger screens */
	#main_text p {
		font-size: 15px;
	}

	/* Adjusting styles for the logo on larger screens */
	.logo {
		margin-top: 7px;
	}

	/* Styles for h1 elements in the logo section on larger screens */
	.logo h1 {
		font-size: 59px;
		margin-top: 0px;
		margin-bottom: -20px;
		float: left;
		padding-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}

	/* Styles for h2 elements in the logo section on larger screens */
	.logo h2 {
		font-size: 65px;
		margin-top: 7px;
		margin-bottom: -25px;
		padding-top: 0px;
		padding-left: 0px;
		padding-right: 6px;
		float: left;
	}

	/* Styles for h3 elements in the logo section on larger screens */
	.logo h3 {
		font-size: 40px;
		margin-top: 15px;
		margin-bottom: -5px;
		padding-top: 0px;
		padding-left: 0px;
		float: left;
	}

	/* Styles for paragraphs in the logo section on larger screens */
	.logo p {
		font-size: 14px;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 65px;
		padding-left: 12px;
	}

	/* Adjusting styles for the navbar on larger screens */
	.navbar_coca_cola {
		background-color: grey; 
		min-height: 120px;
	}

	/* Styles for the footer on larger screens */
	.footer {
		background-color: grey;
		height: 75px;
	}

	/* Styles for links in the navbar text on larger screens */
	.navbar-text > a {
		font-size: 15px;
	}

	/* Styles for paragraphs in the navbar text on larger screens */
	.navbar-text > p {
		color: #0C0503;
		font-size: 23px;
	}

	/* Adjusting the height of model3D on larger screens */
	.model3D  {
		height: 250px;
	}
}

/* Media query for screens with min-width 1200px */
@media (min-width: 1200px) { 
	/* Styles for larger screens */
	#main_3d_image {
		background-image: url(../assets/images/main_3D_1400.jpg);
		height: 524px;
	}

	/* Adjusting the height of model3D on larger screens */
	.model3D  {
		height: 300px;
	}
}
